html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;

  /* poor support - but for the future! */
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

body {
  padding-top: $navbar-height;

  @media #{$xs-or-smaller} {
    padding-top: 0;
  }

  display: flex;
  flex-direction: column;

  min-height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: initial;

  > main {
    flex-grow: 1;
  }
}

.container, .container-fluid {
  max-width: $max-width;
}

.btn-secondary {
  @include button-variant(white, $gray, $gray-dark);
}

.alert {
  border-radius: .5em;
}