.breadcrumb {
  background-color: var(--surface-300);
  font-size: 16px;
  padding: 0;
  margin-bottom: 0;

  ol {
    max-width: $max-width;
    padding: $padding-small-vertical $padding-large-horizontal;
    margin-bottom: 0;

    li + li:before {
      content: '';
      display: none;
    }

    .icon {
      font-size: 9px;
      color: var(--text-secondary);
      padding: 0 3px;
    }

    a {
      color: var(--text-primary);
    }
  }

  > .active {
    color: var(--text-primary);
  }
}
