#feedMenuMobile {
  display: none; // displayed via js
}

.feeds_list {
  background-color: $body-bg;

  a {
    color: $text-color;

    &:hover {
      text-decoration: none;
    }
  }

  .headline {
    color: $brand-primary;
  }
}

@media (min-width: 600px) {
  .feeds_dropdown {
    margin: 0 5px;
    padding: 0;
    box-shadow: 5px 5px 15px #333333;
    border: none;
    font-size: 16px;
    line-height: 1.5;

    .feeds_list {
      padding: 0; // remove some bs default padding
      margin: 0;

      tr:nth-child(odd) {
        background-color: #f5f5f5;
      }

      td {
        white-space: nowrap; // let the dropdown grow with it's width

        &:hover {
          background-color: darken($body-bg, 20%);
        }

        &.headline:hover, &.placeholder:hover {
          background-color: inherit;
        }

        &.headline {
          line-height: 2.5;
        }
      }

      a, span {
        display: inline-block;
        width: 100%;
        line-height: 2;
        padding: 0 10pt;

        &.indented {
          padding-left: 23pt;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .feeds_dropdown {
    background-color: $body-bg;
    padding: 8pt 5pt 5pt 10pt;

    .feeds_list {
      width: 100%;
      font-size: 14pt;
      margin-left: 20px;

      tr {
        display: list-item;
        list-style-type: none;

        td {
          display: list-item;
          list-style-type: circle;
          line-height: 2;
          padding-right: 20pt;

          &.placeholder {
            display: none;
          }

          &.headline {
            list-style-type: none;
          }

          &:nth-child(2) {
            margin-left: 20pt;
          }

          a:hover {
            background-color: darken($body-bg, 20%);
          }
        }
      }

      .headline {
        a, span {
          font-size: 18pt;
          color: #d87500;
          line-height: 2;
        }
      }
    }
  }
}
