.navbar {
  border: none;

  @media #{$xs-or-smaller} {
    position: initial;

    & > .container-fluid {
      display: inline-table;
      width: 100%;
    }
    form {
      width: 100%;
    }
    .input-group {
      margin-bottom: $padding-small-vertical;
    }
  }

  .navbar-brand {
    font-size: 24px;
    padding: 12px 15px;
    img {
      width: 27px;
      height: 27px;
      vertical-align: text-bottom;
    }
  }

  .btn.btn-default {
    padding: 0.2em;
    height: 1.8em;
    max-width: 2em;
    &:hover, &:focus, &:active {
      color: $brand-primary;
      background-color: #fff;
      border-color: #fff;
    }
  }

  .navbar-form {
    padding-left: 0.2em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;

    &.dropdown {
      padding-right: 0.0em;
    }
  }

  input {
    height: 1.8em;
    padding-top: 6px;
  }

  .icon {
    min-width: 20px;
    font-size: 1.3em;
    display: inline-block;
  }
}
