body.page-list {
  .events-header {
    clear: both;
    display: table-cell; 
    vertical-align: middle;

    img {
      float: left;
      max-height: 160px;
      max-width: 300px;

      margin-right: $padding-small-horizontal;
      margin-top: 16px;
    }

    #sorting {
      margin: $padding-large-vertical 0;
      float: right;
    }
  }

  .event-preview {
    margin: 16px 0;
    display: block;
    clear: both;
    min-height: 120px;
    background-color: $gray-lightest;
    position: relative;

    &:nth-child(odd) {
      background-color: #ffffff;
    }

    &:hover {
      background-color: $gray-even-lighter;
    }

    .duration-container {
      float: left;
      height: 117px;
      width: 208px;

      background-color: $gray-dark;
      display: flex;
      align-items: center;
      justify-content: center;

      img.video-thumbnail {
        width: auto;
        height: 100%;
        display: block;
      }
    }

    .conference {
      float: right;

      &, a {
        color: lighten(#333333, 25%);
      }
    }

    h3 {
      margin-bottom: 0;
      padding-top: 10px;
      line-height: 1em;
    }
    h4 {
      margin-top: 4px;
    }

    color: black;

    .caption {
      margin-left: 208px;
      padding-left: $padding-large-horizontal;
      h3 {
        margin-top: 0;
        padding-top: 3px;
        color: black;
      }
    }

    .metadata {
      position: static;
      padding-top: 10px;
     }

    @media #{$sm-or-smaller} {
      height: auto;
      min-height: 120px;
    }

    @media #{$xs-or-smaller} {
      width: 100%;
      height: auto;

      > a { display: none; }
      .duration-container { display: none; }

      .caption {
        margin-left: 0;
        h4 {
          margin-bottom: 5px;
        }
      }

      .metadata {
        li { display: block; }
        li.duration { display: block; }
        li.date { display: none; }
       }
    }
  }
}
