body.page-list {
  .events-header {
    clear: both;
    display: table-cell; 
    vertical-align: middle;

    .conference-title-container {
      display: flex;
      gap: 1em;
    }

    .logo {
      box-sizing: content-box;
      background: white;
      padding: .5em;
      border-radius: .5em;
      margin-top: .5em;
      
      max-height: 160px;
      max-width: 300px;
    }

    #sorting {
      margin: $padding-large-vertical 0;
      float: right;
    }
  }

  .event-preview {
    min-height: 120px;

    margin: .5em 0;
    padding: .5em;
    border-radius: .5em;

    clear: both;
    background-color: var(--surface-100);

    &:nth-child(odd) {
      background-color: var(--surface-50);
    }

    &:hover {
      background-color: var(--surface-200);
    }

    .thumbnail-badge-container {
      height: 117px;
      width: 208px;

      /* neutral background here, not depending on theme */
      align-items: center;
      justify-content: center;

      img.video-thumbnail {
        width: auto;
        height: 100%;
      }
    }

    .conference {
      float: right;

      &, a {
        color: var(--text-muted);
      }
    }

    h3 {
      margin-bottom: 0;
      padding-top: 10px;
      line-height: 1em;
    }
    h4 {
      margin-top: 4px;
    }

    .caption {
      flex-grow: 1;
      
      h3 {
        margin-top: 0;
        padding-top: 3px;
      }
    }

    .metadata {
      position: static;
      padding-top: 10px;
     }

    @media #{$sm-or-smaller} {
      height: auto;
      min-height: 120px;
    }

    @media #{$xs-or-smaller} {
      width: 100%;
      height: auto;

      > a { display: none; }
      .thumbnail-badge-container { display: none; }

      .caption {
        margin-left: 0;
        h4 {
          margin-bottom: 5px;
        }
      }

      .metadata {
        li { display: block; }
        li.duration { display: block; }
        li.date { display: none; }
       }
    }
  }
}
