body.page-show {
  h3 {
    border-bottom: 1px solid #ccc;
    margin-top: 50px;
  }

  h4 {
    margin-top: 10px;
  }

  .metadata {
    list-style: none;
    padding: $padding-small-vertical 0;
    text-align: center;
    border-bottom: 1px solid $gray;

    li {
      display: inline-block;
      min-width: 24.5%;
      padding: $padding-small-vertical $padding-small-horizontal;
    }

    .icon {
      margin-right: $padding-xs-horizontal;
    }
  }

  ul.share {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      display: block;
      float: left;
      margin-right: 10px;

      a {
        display: block;
        color: white;

        background: $gray-light;
        text-decoration: none;

        &:hover {
          background-color: $gray;
        }

        width: 48px;
        height: 48px;
        border-radius: 5px;

        text-align: center;

        i {
          font-size: 32px;
          line-height: 48px;
        }
      }
    }
  }

  textarea.share {
    width: 100%;
    padding: 5px;
    line-height: 130%;

    background-color: $gray-lighter;
    border: 1px solid #e3e3e3;
  }

  .downloads {
    .row {
      margin-bottom: 30px;
    }

    // extract into shared scss?
    .nav-tabs {
      li > a {
        padding: 10px 20px;

        background-color: $gray;
        color: $gray-lighter;
      }
      li.active a {
        background-color: $gray-lighter;
        color: $gray-dark;
      }
    }

    .tab-content {
      background-color: $gray-lighter;
      border-bottom: 1px solid #e3e3e3;
      border-left: 1px solid #e3e3e3;
      border-right: 1px solid #e3e3e3;
      padding: 10px;

      overflow: hidden;
    }

    .btn-wrap {
      width: 25%;
      display: block;
      float: left;

      .btn {
        margin: 5px;
        height: 55px;
        display: block;
      }
    }
  }
}
