body.page-show {
  h3 {
    border-bottom: 1px solid #ccc;
    margin-top: 50px;
    margin-bottom: 12px;
  }

  h4 {
    margin-top: 10px;
  }

  .player-header {
    clear: both;

    .thumbnail {
      float: right;
      img {
        max-height: 90px;
        max-width: 300px;
      } 
      margin-left: $padding-small-horizontal;
      margin-top: -$padding-large-horizontal;
    }
  }

  .player {
    clear: both;
  }

  .metadata {
    list-style: none;
    padding: $padding-small-vertical 0;
    text-align: center;
    border-bottom: 1px solid $gray;
    font-size: 16px;

    li {
      display: inline-block;
      min-width: 18%;
      padding: $padding-small-vertical $padding-small-horizontal;
    }

    .icon {
      margin-right: $padding-xs-horizontal;

      & + a {
        position: relative;
        top: -2px;
      }
    }
  }

  .description {
    margin-top: 12px;
  }

  ul.share {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      display: block;
      float: left;
      margin-right: 10px;

      a {
        display: block;
        color: white;

        background: $gray-light;
        text-decoration: none;

        &:hover {
          background-color: $gray;
        }

        width: 48px;
        height: 48px;
        border-radius: 5px;

        text-align: center;

        i {
          font-size: 32px;
          line-height: 48px;
        }
      }
    }
  }

  textarea.share {
    width: 100%;
    padding: 5px;
    line-height: 130%;

    background-color: $gray-lighter;
    border: 1px solid #e3e3e3;
  }

  .downloads {
    .row {
      margin-bottom: 12px;
    }

    .multiaudio-warning .well {
      margin-bottom: 0;
    }

    // extract into shared scss?
    .nav-tabs {
      li > a {
        padding: 10px 20px;

        background-color: $gray;
        color: $gray-lighter;

        font-size: 16px;
      }
      li.active a {
        background-color: $gray-lighter;
        color: $gray-dark;
      }
    }

    .tab-content, .content {
      background-color: $gray-lighter;
      border-bottom: 1px solid #e3e3e3;
      border-left: 1px solid #e3e3e3;
      border-right: 1px solid #e3e3e3;
      padding: 10px;

      overflow: hidden;

      .btn-wrap {
        width: 100%;
        display: block;
        float: left;

        @media #{$smmd-or-bigger} {
          width: 50%;
        }
        @media #{$md-or-bigger} {
          width: 25%;
        }
      }
    }
    .tab-content {
      .btn {
        $btn-height: 55px;

        margin: 5px;
        height: $btn-height;
        display: block;
        padding-top: 9px;

        border-width: 0;
        position: relative;

        .title { font-size: 19px; }
        .size {
          color: $gray-lighter;
          font-weight: lighter;
          font-size: 13px;
        }
      }
    }

    // this includes the subtitles button
    .btn {
      background: $gray-light;
      color: white;

      &:hover {
        background: lighten($gray-light, 10%);
      }
    }

    .subtitle {
      h4 {
        -webkit-hyphens: none;
      }
      .improve {
        display: block;
        float: left;
        margin-left: 10px;
        line-height: 34px;
      }
      .btn {
        float: left;
        margin: 5px;
      }
      .btn.todo, .btn.draft {
        background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
        background-size: 20px 20px;
      }
      .btn.todo {
        background-color: #d9534f;
      }
      .btn.draft {
        background-color: #f0ad4e;
      }
      .btn.complete, .btn.translated {
        background-color: #5cb85c;
      }
    }
  }
}
