body.page-show {
  .nav.nav-tabs.nav-justified {
    margin-top: 16px;
    font-weight: bold;
    font-size: 24px;
    background-color: $gray;

    & > li {
      a {
        padding: $padding-large-vertical 0 0 0;
        margin-bottom: 0;
        border: none;
        &:hover, &:focus, &:active {
          background-color: #fff;
        }
        &:hover, &:focus, &:active {
          border: none;
        }
      }
      &.active > a {
        color: white;
        background-color: $gray-dark;
      }

      @media #{$xs-or-smaller} {
        a {
          font-size: 20px;
          padding-top: 5px;
        }
        &.active > a {
          background-color: $gray;
        }
      }
    }
  }

  .tab-content {
    background-color: $gray-dark;

    .tab-pane {
      display: none;
      &.active {
        display: block;
      }
    }

    #video {
      text-align: center;
      .video {
        margin: auto;
      }
    }

    #audio * {
      max-width: 100%;
    }

    #download {
      padding: $padding-large-horizontal;
      h3 {
        color: $gray-light;
        &:first-child {
          margin-top: 0;
        }
      }
      ul {
        list-style-type: none;
        padding: 0;
        li {
          min-width: 49%;
          display: inline-block;
        }
        a {
          margin: 0 $padding-xs-horizontal;
        }
      }
      .filetype {
        text-transform: uppercase;
        margin-right: $padding-small-horizontal;
        color: #000;
        background-color: #fff;
        min-width: 4em;
      }
      a:hover, a:focus, a:active {
        text-decoration: none;
      }
    }

    #embedshare {
      padding: $padding-large-horizontal;
      input {
        border: 1px solid #d87500;
        color: #d87500;
        border-width: 1px;
        background-color: #555;
      }
      h3 {
        color: $gray-light;
        &:first-child {
          margin-top: 0;
        }
      }
      ul {
        list-style-type: none;
        padding: 0;
        li {
          min-width: 49%;
          display: inline-block;
        }
        a {
          margin: 0 $padding-xs-horizontal;
        }
      }
      a:hover, a:focus, a:active {
        text-decoration: none;
      }
      i {
        color: #d87500;
      }
    }
  }

  .metadata {
    list-style: none;
    padding: $padding-small-vertical 0;
    text-align: center;
    border-bottom: 1px solid $gray;
    li {
      display: inline-block;
      min-width: 24.5%;
      padding: $padding-small-vertical $padding-small-horizontal;
    }
    .icon {
      margin-right: $padding-xs-horizontal;
    }
  }

  .event-show {
    h3 {
      border-bottom: 1px solid #ccc;
      margin-top: 50px;
    }
    h4 {
      margin-top: 10px;
    }
  }

  textarea.share {
    width: 100%;
    padding: 5px;
    line-height: 130%;
  }

}
