body.page-start {
  .search {
    margin: 64px 0 32px 0;

    .form-group {
      margin-bottom: 12px;
    }

    input {
      $h: 48px;

      height: $h;
      border-radius: $h;
      line-height: $h;
      font-size: 25px;
    }
    .input-group-addon {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      font-size: 22px;
    }

    .tagline {
      text-align: center;
      color: $gray-light;
      font-size: 18px;
    }
  }

  .browse-button-bar {
    text-align: center;
    margin-top: $padding-large-vertical;
    margin-bottom: $padding-large-vertical;

    .btn-lg {
      margin: $padding-small-vertical $padding-small-horizontal;

      padding-top: 5px;
      padding-bottom: 5px;

      @media #{$xs-or-smaller} {
        font-size: 23px;
      }

      .icon {
        /* nicely positioned icons on large buttons */
        position: relative;
        top: 0.15em;
        margin-right: 0.3em;
        font-size: 1.3em;
      }
    }
  }

  /* news */
  h1 + .news-item {
    margin-top: -0.5em;
  }
}
