- content_for :title do
  recent changes

.container-fluid
  %h1 Recent Changes
  - if @buckets.present?
    .event-previews
      - @buckets.keys.sort[1..-1].reverse.each do |date|
        - conferences = @buckets[date]
        - conferences.each do |conference, count|
          .event-preview
            %a{href: conference_url(acronym: conference.acronym, sort: :date)}
              %img.video-thumbnail{src: conference.logo_url, alt: conference.title}
            .caption
              %ul.metadata
                %li
                  %span.icon.icon-calendar-o
                  = date
              %h3
                %a{href: conference_url(acronym: conference.acronym, sort: :date)}
                  Event:
                  = conference.acronym
              new entries:
              = count
