- if event.recordings.video.present?
  %h3 Video

  %ul.nav.nav-tabs{role: "tablist"}
    - event.video_filetypes.each_with_index do |(type, display), idx|
      %li{role: "presentation", class: if idx == 0 then 'active' else '' end}
        %a{href: "#"+type, 'aria-controls': type, role: "tab", 'data-toggle': "tab"}
          = display

  .tab-content
    - event.video_filetypes.each_with_index do |(type, display), idx|
      .tab-pane{role: "tabpanel", class: if idx == 0 then 'active' else '' end, id: type}
        = display

- if event.recordings.audio.present?
  %h3 Audio

  %ul.nav.nav-tabs{role: "tablist"}
    - event.audio_filetypes.each_with_index do |(type, display), idx|
      %li{role: "presentation", class: if idx == 0 then 'active' else '' end}
        %a{href: "#"+type, 'aria-controls': type, role: "tab", 'data-toggle': "tab"}
          = display

  .tab-content
    - event.audio_filetypes.each_with_index do |(type, display), idx|
      .tab-pane{role: "tabpanel", class: if idx == 0 then 'active' else '' end, id: type}
        = display
