%h4 On your blog:

%textarea.share{:rows=> "2", :readonly => true}
  <iframe width="853" height="480" src="#{oembed_event_url(slug: event.slug)}" frameborder="0" allowfullscreen></iframe>"

%h4 With others:

%ul.share
  %li
    %a{:href => twitter_url(event.title, event_url(slug: event.slug)) }
      %i{:class => "fa-twitter"}
      via Twitter
  %li
    %a{:href => facebook_url(event.title, event_url(slug: event.slug)) }
      %i{:class => "fa-facebook-square"}
      via Facebook
  %li
    %a{:href => diaspora_url(event.title, event_url(slug: event.slug)) }
      %i{:class => "fa-diaspora"}
      via Diaspora
  %li
    %a{:href => mail_url(event.title, event_url(slug: event.slug)) }
      %i{:class => "fa-envelope"}
      by Mail

:javascript
  $(function() {
    $('.share').on('click', 'a', function (e) {
      window.open(this.href, 'share it', 'width=550,height=420,resizable=yes');
      e.preventDefault();
    });
    $("textarea.share").on('focus', function() {
      $(this).select();
    });
  });
