.row
  .col-md-6
    %h3 Embed

    %textarea.share{:rows=> "2", :readonly => true}
      <iframe width="1024" height="576" src="#{oembed_event_url(slug: event.slug)}" frameborder="0" allowfullscreen></iframe>

  .col-md-6
    %h3 Share:

    %ul.share
      %li
        %a.popup{:href => twitter_url(event.title, event_url(slug: event.slug)), :title => 'via Twitter'}
          %i{:class => "icon-twitter"}

      %li
        %a.popup{:href => facebook_url(event.title, event_url(slug: event.slug)), :title => 'via Facebook'}
          %i{:class => "icon-facebook"}

      %li
        %a.popup{:href => diaspora_url(event.title, event_url(slug: event.slug)), :title => 'via Diaspora'}
          %i{:class => "icon-diaspora"}

      %li
        %a{:href => mail_url(event.title, event_url(slug: event.slug)), :title => 'by Mail'}
          %i{:class => "icon-envelope"}


:javascript
  $(function() {
    $('.share').on('click', 'a.popup', function (e) {
      window.open(this.href, 'share it', 'width=800,height=420,resizable=yes');
      e.preventDefault();
    });
    $("textarea.share").on('focus', function() {
      $(this).select();
    });
  });
