%span.fa{class: persons_icon(persons)}
  - if persons.empty?
    n/a
  - persons.to_enum.with_index(1).each do |speaker, index|
    %a{href: search_url(q: speaker)}= speaker
    - if (persons.count - 1) == index
      and
    - elsif persons.count != index
      \,
