%a.thumbnail-link{href: event_path(slug: event.slug)}
  .thumbnail-badge-container
    %img.video-thumbnail{src: h(event.thumb_url), alt: h(event.title), loading: 'lazy'}
    - if event.duration > 0
      .duration
        %span.icon.icon-clock-o
        = duration_in_minutes(event.duration)
    - if not event.recordings.video.present? and event.relive_present?
      .relive
        %span.icon.icon-cog{title: 'This is just a stream recording, the final release of this talk is still being worked on.'}
