%footer
  by 
  %a.inverted{href: '//ccc.de'} Chaos Computer Club e.V
  ––
  %a.inverted{href: '/about.html'} About
  ––
  %a.inverted{href: '/about.html#apps'} Apps
  ––
  %a.inverted{href: '//ccc.de/en/imprint'} Imprint
  ––
  %a.inverted{href: '/about.html#privacy'} Privacy
  ––
  %a.inverted{href: '//c3voc.de/'} c3voc
