%li
  %a{href: '/news.atom'}
    C3TV - News
%li
  %a{href: "/updates.rdf"}
    C3TV - RSS, last 100
%li
  %a{href: "/podcast.xml"}
    C3TV - Podcast feed of the last two years
%li
  %a{href: "/podcast-archive.xml"}
    C3TV - Podcast archive feed
