%li
  %a{href: '/news.atom'}
    News
%li
  %a{href: "/updates.rdf"}
    RSS, last 100
%li
  %a{href: "/podcast.xml"}
    Podcast feed of the last two years
%li
  %a{href: "/podcast-audio-only.xml"}
    Podcast audio feed of the last year
%li
  %a{href: "/podcast-archive.xml"}
    Podcast archive feed, everything older than two years
