.navbar.navbar-default.navbar-fixed-top(role="navigation")
  .container-fluid
    .navbar-header
      %a.navbar-brand(href='/')
        %span
          %img{src: image_path('frontend/tv.png'), alt: 'ccc-tv logo, a tv displaying a play icon'}
          ccc-tv

    .nav.navbar-form.navbar-right.button-wrapper
      %a.form-control.btn.btn-default{href: '/about.html'}
        %span.fa.fa-info

    .nav.navbar-form.navbar-right.dropdown
      %button#feedMenu.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        %span.fa.fa-rss
      %ul.dropdown-menu{"aria-labelledby" => "feedMenu"}
        = render 'frontend/shared/navbar_feeds'
        - if @conference && @conference.downloaded_events_count > 0
          %li
            %hr
          = render 'frontend/shared/navbar_folder_feeds'

    %form.navbar-form.navbar-right{role: 'search', action: '/search/', method: 'get', id: 'media-search'}
      .form-group.input-group
        %input.form-control{type: 'search', size: '17', name: 'q', placeholder: 'Search…'}
        %span.input-group-btn
          %button.btn.btn-default{type: 'submit'}
            %span.fa.fa-search

- breadcrumbs_trail do |parts, last|
  #breadcrumb
    %ol.container-fluid.breadcrumb
      %li
        %a.inverted{href: browse_start_url}
          browse
      - parts.each_with_index do |part, index|
        %li
          %a.inverted{href: browse_url(parts[0..index].join('/'))}
            = part
      %li.active
        = last

