%div.navbar.navbar-default.navbar-fixed-top(role="navigation")
  %div.container-fluid
    %div.navbar-header
      %a.navbar-brand(href='/')
        %img{src: image_path('frontend/tv.png'), alt: 'ccc-tv logo, a tv displaying a play icon'}
        ccc-tv

    .nav.navbar-form.navbar-right.button-wrapper
      - if @conference and Recording.recorded_at(@conference).count > 0
        %a.form-control.btn.btn-default{href: podcast_folder_feed_url(slug: @conference.slug, mime_type: @conference.preferred_mime_type)}
          %span.fa.fa-rss
      - else
        %a.form-control.btn.btn-default{href: '/podcast.xml'}
          %span.fa.fa-rss

          %span.fa.fa-magnet
      %a.form-control.btn.btn-default{href: '/about.html'}
        %span.fa.fa-info
    %form.navbar-form.navbar-right{role: 'search', action: '/search/', method: 'get', id: 'media-search'}
      %div.form-group.input-group
        %input.form-control{type: 'search', size: '17', name: 'q', placeholder: 'Search…'}
        %span.input-group-btn
          %button.btn.btn-default{type: 'submit'}
            %span.fa.fa-search

- breadcrumbs_trail do |parts|
  #breadcrumb
    %ol.container-fluid.breadcrumb
      - parts.each_with_index do |part, index|
        %li
          %a.inverted{href: '/browse/'+parts[0..index].join('/')}
            = part

