.navbar.navbar-default.navbar-fixed-top(role="navigation")
  .container-fluid
    .navbar-header
      %a.navbar-brand(href='/')
        %span
          %img{src: image_path('frontend/voctocat.svg'), alt: 'media.ccc.de logo, a lucky cat holding a play icon'}
          media.ccc.de

    .nav.navbar-form.navbar-right.button-wrapper
      %a.form-control.btn.btn-default{href: '/about.html'}
        %span.icon.icon-info

    .nav.navbar-form.navbar-right.dropdown
      %button#feedMenu.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        %span.icon.icon-rss
      %div.dropdown-menu.feeds_dropdown{"aria-labelledby" => "feedMenu"}
        = render 'frontend/shared/navbar_feeds', locals: { conference: @conference }

    %form.navbar-form.navbar-right{role: 'search', action: '/search/', method: 'get', id: 'media-search'}
      .form-group.input-group
        %input.form-control{type: 'search', size: '17', name: 'q', placeholder: 'Search…', value: @searchquery}
        %span.input-group-btn
          %button.btn.btn-default{type: 'submit'}
            %span.icon.icon-search

  %div#feedMenuMobile.feeds_dropdown{"aria-labelledby" => "feedMenu"}
    = render 'frontend/shared/navbar_feeds', locals: { conference: @conference }


- breadcrumbs_trail do |parts, last|
  .breadcrumb
    %ol.container-fluid.breadcrumb
      %li
        %a.inverted{href: browse_start_path}
          browse
      - parts.each_with_index do |part, index|
        %li
          %span.icon.icon-chevron-right
          %a.inverted{href: browse_path(parts[0..index].join('/'))}
            = part
      %li.active
        %span.icon.icon-chevron-right
        = last

