%video.video{controls: 'controls',
             preload: 'none',
             poster: playlist.poster_url,
             width: width,
             height: height}

  - playlist.playlist.each do |event, recording|
    %source{type: recording.mime_type,
            src: h(recording.url),
            title: event.title.truncate(30),
            data: { id: event.id,
                    title: event.title,
                    poster: event.poster_url,
                    persons: event.persons.join(', '),
                    lang: recording.language,
                    quality: recording.quality_label,
                    mep: { description: event.description } }}

:javascript
  $(function() {
    var promises = [];

    var $source = $('video source').first();
    promises.push(
      MirrorbrainFix.selectMirror($source.prop('src'), function(mirror) {
        $source.attr('src', mirror);
      })
    );

    $.when.apply($, promises).done(function() {
      $('video').mediaelementplayer({
        usePluginFullScreen: true,
        enableAutosize: true,
        stretching: '#{stretching}',
        showPlaylist: true,
        playlistTitle: "#{playlist.title}",
        autoClosePlaylist: true,
        features: [
          'playlistfeature',
          'skipback', 'prevtrack', 'playpause', 'nexttrack', 'jumpforward', 'progress', 'current',
          'duration', 'tracks', 'volume', 'speed',
          'playlist',
          'fullscreen'
          ],
        skipBackInterval: 15,
        success: function (mediaElement) {
          mediaElement.addEventListener('play', function () {
            var ev = $('video source[src="' + mediaElement.src + '"]');
            $('video').first().attr('poster', ev.data('poster'));
            $('.description').html(ev.data('mepDescription'));
            $('h2.event_title').html(ev.data('title'));
            $('p.persons').html(ev.data('persons'));
            if (mediaElement.src.indexOf('://cdn.media.ccc.de') > 0) {
              MirrorbrainFix.selectMirror(mediaElement.src, function(mirror) {
                mediaElement.setSrc(mirror);
                mediaElement.play();
              });
            }
          }, false);
          mediaElement.addEventListener('playing', function () {
            var eventId = $('video source[src="' + mediaElement.src + '"]').data('id');
            $.post("/public/recordings/count", {event_id: eventId, src: mediaElement.src});
          }, false);
        }
      });
    });
  })
