<!-- Mediaelement Player -->

-# be aware that this partial is used for the event page AND for the oembed code

%video.video{controls: 'controls', 'data-id' => event.id, poster: event.poster_url, width: width, height: height, preload: 'metadata', 'data-timeline' => (event.timelens_present? ? event.timeline_url : nil)}
  - event.videos_sorted_by_language.each do |recording|
    %source{type: recording.mime_type, src: h(recording.url), data: { lang: recording.language, quality: recording.quality_label }, title: recording.label}

  - event.subtitles.each do |track|
    // hide placehoder vtt files for now
    - unless track.state == 'todo' and track.mime_type == 'text/vtt'
      %track{kind: "subtitles", src: h(track.cors_url), srclang: track.language_iso_639_1(), label: track.label}

  - if event.timelens_present?
    %track{kind: "metadata", label: "thumbnails", src: event.thumbnails_url, srclang: ""}

  %link{rel: "postroll", href: postroll_path(slug: event.slug)}

:javascript
  (async function() {
    // Necessary setup steps before MediaElementPlayer can be initialized
    const video = await MejsPlayer.prepare();

    new MediaElementPlayer(video, MejsPlayer.options({
      // Handled by PlayerGestures instead
      clickToPlayPause: false,
      features: ['skipback', 'playpause', 'jumpforward', 'progress', 'current', 'duration',
        'tracks', 'volume', 'speed', 'sourcechooser', 'fullscreen', 'postroll', 'timelens'],
      success: function (mediaElement, originalNode, player) {
        // Deep links + view counting
        MejsPlayer.init(player, mediaElement, video);

        // Attach youtube style gesture behavior
        PlayerGestures.attach(player, mediaElement);
      }
    }));
  })();
