%audio.audio{controls: 'controls', preload: 'none'}
  - playlist.playlist.each do |event, recording|
    %source{type: recording.mime_type,
            src: h(recording.url),
            title: event.title,
            data: { id: event.id,
                    title: event.title.truncate(30),
                    persons: event.persons.join(', '),
                    lang: recording.language,
                    mep: { description: event.description } }}

:javascript
  $(function() {
    var promises = [];

    var $source = $('audio source').first();
    promises.push(
      MirrorbrainFix.selectMirror($source.prop('src'), function(mirror) {
        $source.attr('src', mirror);
      })
    );

    $.when.apply($, promises).done(function() {
      $('audio').mediaelementplayer({
        enableAutosize: true,
        stretching: '#{stretching}',
        showPlaylist: true,
        currentMessage: 'Playing: ',
        features: [
          'playlistfeature',
          'skipback', 'prevtrack', 'playpause', 'nexttrack', 'jumpforward', 'progress', 'current',
          'duration', 'tracks', 'volume', 'speed',
          'playlist'
          ],
        skipBackInterval: 15,
        success: function (mediaElement) {
          mediaElement.addEventListener('canplay', function () {
            var ev = $('audio source[src="' + mediaElement.src + '"');
            $('.description').html(ev.data('mepDescription'));
            $('span.event_title').html(ev.data('title'));
            $('p.persons').html(ev.data('persons'));
            if (mediaElement.src.indexOf('://cdn.media.ccc.de') > 0) {
              MirrorbrainFix.selectMirror(mediaElement.src, function(mirror) {
                mediaElement.setSrc(mirror);
                mediaElement.play();
              });
            }
          }, false);
          mediaElement.addEventListener('playing', function () {
            var eventId = $('audio source[src="' + mediaElement.src + '"').data('id');
            $.post("/public/recordings/count", {event_id: eventId, src: mediaElement.src});
          }, false);
        }
      });
    });
  })
