<!-- Mediaelement Player -->

%audio.audio{controls: 'controls', 'data-id' => event.id, poster: event.poster_url, width: width, height: height, preload: 'metadata' }
  - event.audio_recordings.each do |recording|
    %source{type: recording.mime_type, src: h(recording.url), data: { lang: recording.language }, title: recording.label}

  - event.recordings.subtitle.each do |track|
    %track{kind: "subtitles", src: h(track.cors_url), srclang: track.language_iso_639_1()}

  %link{rel: "postroll", href: postroll_path(slug: event.slug)}

:javascript
  (async function() {
    // Necessary setup steps before MediaElementPlayer can be initialized
    const audio = await MejsPlayer.prepare();

    new MediaElementPlayer(audio, MejsPlayer.options({
      features: ['skipback', 'playpause', 'jumpforward', 'progress', 'current', 'duration',
        'tracks', 'volume', 'speed', 'sourcechooser', 'postroll'],
      success: function (mediaElement, originalNode, player) {
        // Deep links + view counting
        MejsPlayer.init(player, mediaElement, audio);

        // Attach youtube style gesture behavior
        PlayerGestures.attach(player, mediaElement);
      }
    }));
  })();
