<!-- Native HTML5 video element -->

%video.video{controls: 'controls', 'data-id' => event.id, poster: event.poster_url, width: width, height: height, preload: 'none', class: 'video-native'}
  - event.videos_sorted_by_language.each do |recording|
    %source{type: recording.mime_type, src: h(recording.url), data: { lang: recording.language, quality: recording.quality_label }, title: recording.label}

  - event.recordings.subtitle.each do |track|
    %track{kind: "subtitles", src: h(track.path), srclang: track.language_iso_639_1()}
