.related
  .slider
    - events.each_with_index do |event, i|
      .slide
        %a.item{href: event_path(slug: event.slug), 'class' => (i == 0 and 'active')}
          %img{src: h(event.thumb_url), alt: event.title, title: event.short_title}
