%p
  This site offers a wide variety of video and audio material distributed by the Chaos Computer Club provided in native formats (usually MPEG and/or Vorbis families) for online viewing. Older, archived recordings might require proprietary players. The media files on this site can also be downloaded for offline consumption which includes lecture slides (PDF) and subtitles (SRT/WebVTT).