SECRET_KEY_BASE=asdkjf3245jsjfakjq435jadsgjlkq4j5jwj45jasdjvlj
DEVISE_SECRET_KEY=22c82812123213214328cec6c84a97980869ba1e1a6e54b5269c8d387729a7d10e4b167c3b4f30029bf6e352a0160f871258a6536e19819e05b513ee868b362e
DEVISE_FROM=test@example.org
SMTP_HOST=localhost
CAP_REPO=gitolite@localhost:media-site.git
CAP_BRANCH=deployment-media.ccc.de
CAP_USER=media-site
NOTIFY_SENDER='"media" <media@localhost>'
NOTIFY_RECEIVER=user@example.org
MQTT_SERVER=mqtt://user:password@host
STREAMING_URL=https://streaming.media.ccc.de/streams/v2.json
RELIVE_URL=http://relive.c3voc.de/relive/index.json
