- content_for :title do
  home

= render 'frontend/shared/promoted'

.container-fluid
  .row.browse-button-bar
    %a.btn.btn-primary.btn-lg{role: 'button', href: tags_url}
      %span.fa.fa-tags
      Browse by tag

    %a.btn.btn-primary.btn-lg{role: 'button', href: browse_start_url}
      %span.fa.fa-th
      Browse by category

    %a.btn.btn-primary.btn-lg{role: 'button', href: recent_url}
      %span.fa.fa-calendar
      Recent Videos


  %h1 News

  - @news.each do |news|
    %article.news-item
      %h2
        %span.date= news.date_formatted
        = news.title
      != news.body
