- content_for :title do
    Popular Events

- content_for :body_class do
    page-list

.container-fluid
    .header
        %h1
            digital
        %h2
            climate
        %h2
            strike

        %h2
            .bg
                Join the global climate movement and act now!

    - if @events.present?
        .event-previews
        - @events.each do |event|
            = render partial: 'frontend/shared/event_with_conference', locals: { event: event }

    .footer
        You can still access 
        %a{href: popular_path} popular events
        ,
        %a{href: recent_path} recent events
        or 
        %a{href: popular_path} browsing through the directory structure
        \.

    :scss

        .header {
            text-align: center;
            width: 300px;
            align: center;
            display: block;
            margin:0 auto;
        }

        h1 {
            margin-top: 50px;
            margin-bottom: 15px;
            background: #000;
            color: #fff;
            padding: 0 1em;
            font-weight: normal;
            font-family:  Consolas, Courier, "Courier New";
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }

        h2 {
            display: block;
            margin-block-start: 10px;
            margin-block-end: 10px;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
            letter-spacing: 0.1em;
            text-transform: uppercase;

            .bg {
                background: #4ee58b;
                margin-top: 5px;
                font-size: 1.5rem;
                padding: 0.5em;
                text-transform: none;
                margin-bottom: 50px;
            }
        }

        .footer {
            text-align: center;
        }
