- cache(event) do
  .event-preview
    %a{href: event_url(slug: event.slug)}
      %img.video-thumbnail{src: h(event.thumb_url), alt: h(event.title)}
        .caption
          = render partial: 'frontend/shared/event_metadata', locals: { event: event }
