- content_for :title do
  = @event.title

- content_for :body_class do
  page-show

.container-fluid
  %h1
    = h @event.title
  - if @event.subtitle
    %h2
      = h @event.subtitle

  %ul.nav.nav-tabs.nav-justified{role: 'tablist'}
    %li
      %a{href: event_path(slug: @event.slug)+'#video', role: 'tab'} Video
    %li
      %a{href: event_path(slug: @event.slug)+'#audio', role: 'tab'} Audio
    %li.active
      %a{href: '#download', role: 'tab'} Download
    %li
      %a{href: event_path(slug: @event.slug)+'#embedshare', role: 'tab'} Share

  .tab-content
    #download.tab-pane.active{style: 'display: block'}
      = render partial: 'frontend/shared/download', locals: { video_recordings: @video_recordings, audio_recordings: @audio_recordings, subtitle_tracks: @subtitle_tracks, conference: @conference }
