.postroll
  %h3 continue ...
  .container-fluid
    .row
      - @events.each do |event|
        .col-md-4.conference
          = render partial: 'frontend/shared/event_title', locals: { event: event }
          = render partial: 'frontend/shared/event_thumb', locals: { event: event }
