.postroll
  %h4 continue…
  .container-fluid
    .row
      - @events.each do |event|
        .col-xs-4.event
          = render partial: 'frontend/shared/event_title', locals: { event: event }
          = render partial: 'frontend/shared/event_thumb', locals: { event: event }
