.postroll
  %h4 continue…
  .container-fluid
    - if @event.link
      .row
        .col-xs-12.event
          %b
            = @event.link
    .row
      - @events.each do |event|
        .col-xs-4.event
          = render partial: 'frontend/shared/event_title', locals: { event: event }
          = render partial: 'frontend/shared/event_thumb', locals: { event: event }
