.postroll
  %h4 continue…
  .container-fluid
    .row
      .col-xs-12
        %b
          Related to
          - if @event.link
            = link_to @event.title_clean, @event.link
          - else
            = @event.title_clean

    .row
      - @events.each do |event|
        .col-xs-4.event
          = render partial: 'frontend/shared/event_title', locals: { event: event }
          = render partial: 'frontend/shared/event_thumb', locals: { event: event }
