MediaBackend::Application.configure do
    config.cdnURL = 'http://cdn.media.ccc.de'
    config.staticURL = 'http://static.media.ccc.de'

    config.folders = { 
      recordings_base_dir: '/srv/recordings/cdn',
      recordings_webroot: '',
      images_base_dir: '/srv/www/cdn',
      images_webroot: '/media',
      tmp_dir: '/tmp',
    }

    if Rails.env.test?
      config.folders[:recordings_base_dir] = File.join('tmp', 'tests', 'rec')
      config.folders[:images_base_dir] = File.join('tmp', 'tests', 'img')
    end

    config.mime_type_folder_mappings = {
      'application/ogg'   => 'ogg',
      'application/vnd.rn-realmedia' => 'realmedia',
      'audio/ogg'         => 'ogg',
      'audio/opus'        => 'opus',
      'audio/mpeg'        => 'mp3',
      'audio/x-wav'       => 'wav',
      'video/mp4'         => 'mp4',
      'vnd.voc/h264-hd'   => 'mp4-hd',
      'vnd.voc/h264-lq'   => 'mp4-lq',
      'video/ogg'         => 'ogg',
      'video/quicktime'   => 'qt',
      'video/webm'        => 'webm',
      'video/x-matroska'  => 'mkv',
      'video/x-msvideo'   => 'avi',
    }
end
