MediaBackend::Application.configure do
    config.cdnURL = 'http://cdn.media.ccc.de'
    config.staticURL = 'http://static.media.ccc.de'

    config.folders = { 
      recordings_base_dir: '/srv/recordings/cdn',
      recordings_webroot: '',
      images_base_dir: '/srv/www/cdn',
      images_webroot: '/media',
      tmp_dir: '/tmp',
    }

    if Rails.env.test?
      config.folders[:recordings_base_dir] = File.join('tmp', 'tests', 'rec')
      config.folders[:images_base_dir] = File.join('tmp', 'tests', 'img')
    end

end
