MediaBackend::Application.configure do
    config.cdnURL = 'http://cdn.media.ccc.de'

    config.folders = { 
      recordings_base_dir: '/srv/recordings/cdn',
      recordings_webroot: 'http://example.com',
      images_base_dir: '/srv/www/cdn',
      images_webroot: '/media',
      webgen_base_dir: '/srv/www/webgen/src/browse',
      tmp_dir: '/tmp',
    }

end
