- cache(event) do
  .event-preview.has-conference
    = render partial: 'frontend/shared/event_thumb', locals: { event: event }
    = render partial: 'frontend/shared/event_metadata', locals: { event: event }
    .conference
      = event.conference.title
