- content_for :title do
  recent changes

- content_for :body_class do
  page-list

.container-fluid
  %h1 Recent Events
  - if @events.present?
    .event-previews
      - @events.each do |event|
        = render partial: 'frontend/recent/event', locals: { event: event }
