- content_for :title do
  Search for "#{@searchquery}"

- content_for :body_class do
  page-list

.container-fluid
  %h1
    Search for "#{@searchquery}"
  .events-header

  - if @events.present?
    .event-previews
      - @events.each do |event|
        = render event
