a.label {
  display: inline-block;

  border-radius: $border-radius-base;

  padding-top: 0.3em;
  padding-bottom: 0.1em;

  font-size: 14px;
  font-weight: normal;
  text-decoration:none;

  margin-right: 2px;
  margin-bottom: $padding-small-vertical;

  &.label-default {
    background-color: var(--neutral-700);
    /* white color here as the background is always dark */
    color: white;

    &:hover, &:focus, &:active {
      background-color: var(--neutral-600);
    }
  }
}
