.promoted {
  width: 100%;
  height: 300px;
  overflow: hidden;
  text-align: center;
  position: relative;
  .carousel-inner {
    height: 100%;
  }
  .item:hover {
    text-decoration: none;
  }
  .item img {
    height: 190px;
    display: inline-block;
    margin-top: 12px;
    border: 1px solid $transparent-white;
  }
  .titlebar {
    width: 100%;
    height: 112px;
    position: absolute;
    top: 188px;
    bottom: 0;
  }
  .bx-wrapper {
    overflow: hidden;
    height: 300px;
    background: transparent;
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    .bx-viewport {
      margin-top: 35px;
      overflow: visible !important;

      .item img {
        margin-top: 0;
        height: auto;

        -moz-box-shadow: 0 0 5px #ccc;
        -webkit-box-shadow: 0 0 5px #ccc;
        box-shadow: 0 0 5px #ccc;
      }

      .bx-caption {
        bottom: auto;
        top: 150px;
        height: 95px;

        background: none;
        margin-bottom: 0;

        span {
          color: #000;
          font-size: 25px;
        }
      }
    }

    .bx-controls {
      padding-top: 85px;
      .bx-pager {

        a:hover, a.active {
          background: white;
        }

        bottom: 5px;

        .bx-pager-item {
          font-size: inherit;
          line-height: inherit;
        }
      }
      .bx-controls-direction {
        display: none;
      }
    }
  }
  .title {
    color: black;
    margin: 0.7em;
    margin-bottom: 0;
  }
  .subtitle {
    font-size: 18px;
    color: $brand-primary;
    margin: 0 0.8em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.themed-banner {
  background-image: image-url('promoted_bg.jpg');
  .bx-wrapper {
    .bx-viewport {
      .bx-caption {
        span {
          color: #fff;
          font-size: 25px;
          text-shadow: 0 1px 2px rgba(0,0,0,0.6);
        }
      }
    }
  }
}
