@mixin video-player-size($w) {
  $h: $w / 16 * 9;
  $h_43: $w / 4 * 3;

  @media all and (min-width: $w+40px) { // +40 -> add 20px space on the left and right side video player
    .video.player {
      width: $w !important;
      .mejs__container.video, >video, div[data-player], .video-native {
        margin-left: -(($w - ($max-width - 30))/2)  !important;

        &.mejs__container-fullscreen {
          margin-left: 0 !important;
        }
      }
    }
    .video-native {
      width: 100% !important;
      height: auto !important;
    }

    .kiosk {
      position: absolute;
      z-index: -500;
      left: 0;
      right: 0;

      background: #000;
      padding-top: $h;
    }

    .video.player, div[data-player] {
      max-height: $h !important;
    }
    .video.player[data-aspect-ratio='4:3'] {
      max-height: $h_43 !important;
      .kiosk {
        padding-top: $h_43;
      }
    }
  }
}

// 1920x1080, 1280x720, 1024x576, 854x480, 670=~640x~360

@include video-player-size(1280px);
@include video-player-size(1920px);

.video.player, div[data-player] {
  height: 54.5vw;
  max-height: 576px;
}
.video.player[data-aspect-ratio='4:3'] {
  height: 72vw;
  max-height: 730px;
}

/* from https://css-tricks.com/rundown-of-handling-flexible-media/#article-header-id-5 */
/*
.mejs__overlay, .mejs__poster {
  width: 100% !important;
  height: 100% !important;
}

.mejs__mediaelement video {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100% !important;
  height: 100% !important;
}

.mejs__mediaelement .me-cannotplay {
  width: 100% !important;
  height: auto !important;

  > span {
    display: none;
  }
}
*/
