- content_for :title do
  = @tag

%h1 Events for tag "#{@tag}"

.event-previews-tags
  - if @events.present?
    - @events.each do |event|
      .event-preview
        %a{href: show_event_url(event)}
          %img.conference-logo{src: h(event.conference.logo_url), alt: h(event.conference.title)}
        .caption
          = render 'frontend/shared/event_metadata', localsa: { event: event }
          %h3
            %a{href: show_event_url(event)}
              = event.title
