@import "variables";

.search {
	padding-bottom: 50px;

	form {
		margin-bottom: 30px;
	}

	input.text {
		outline: none;
		float: left;

		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.428571429;

		vertical-align: middle;
		width: 50%;
		height: 28px;
		border: 1px solid #ccc;
	}

	button {
		border: 1px solid #ccc;
		height: 28px;
	}

	.results {
		&.initial {
			display: none;
		}

		.template { display: none; }
	}

	.paging {
		display: none;
		overflow: hidden;
		margin: 50px 0 0 150px;

		@media all and (max-width: $container-desktop) {
			margin-left: 0 !important;
			padding-left: 0 !important;
		}

		&.visible {
			display: block;
		}

		li {
			display: block;
			text-align: center;
			float: left;
			list-style-type: none;
			font-size: 18px;
		}

		li.page a {
			width: 1.2em;
			display: block;
			text-decoration: none;

			&:hover .number { text-decoration: underline; }
		}

		.postix {
			padding-left: 4px;
		}

		.next, .prev {
			visibility: hidden;
			&.visible { visibility: visible; }
		}
		.next { margin-left: 30px; }
		.prev { margin-right: 30px; }
	}
}
