// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

$primary-color: #242424 !default;
$secondary-color: #f0f0f0 !default;
$text-color: #323537 !default;
$link-color: #38678b !default;
$section-header-text-color: $primary-color !default;
$current-menu-item-background: lighten($primary-color, 12%) !default;
$hover-menu-item-background: lighten($primary-color, 12%) !default;
$table-stripe-color: lighten($primary-color, 57%) !default;
$table-selected-color: #d9e4ec !default;
$error-color: #932419 !default;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.scrollable { overflow:auto; width:800px; height:50px; } 
.scrollable_error { overflow:auto; width:300px; height:50px; } 
