name: Tests

on:
  push:
    branches:
      - main
      - master
      - staging
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis
        ports:
          - 6379:6379
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: voctoweb
          POSTGRES_USER: voctoweb
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      elasticsearch:
        image: elasticsearch:6.8.17
        ports:
          - 9200:9200

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1

      - name: Setup config
        run: |
          cp config/settings.yml.template config/settings.yml
          cp config/database.yml.template config/database.yml

      - name: Cache dependencies
        uses: actions/cache@v3.2.4
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-

      - name: Bundle install
        run: |
          bundle config path vendor/bundle
          bundle config set --local deployment true
          bundle config set --local without 'development,sqlite3'
          bundle install --jobs 4 --retry 3

      - name: Run tests
        run: |
          bundle exec rake db:setup
          bundle exec rake

  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cleanup
        run: docker system prune --all --force --volumes

      - name: Build Docker image
        run: docker build --tag voctoweb:$(date +%s) .

      - name: Show images
        run: docker images
